In [77]:
import pandas as pd
import numpy as np
df = pd.read_csv('chipotle.tsv',sep='\t')
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [ ]:
# item_name 그룹별로 갯수 확인
# df.groupby('item_name')['order_id'].count() # 그룹화 하여 출력
# df['item_name'].value_counts() # 전체 item_name 갯수 확인
list(df['item_name'].value_counts().items()) #items() : item_name 갯수를 tuple형태로 리턴해줌

[('Chicken Bowl', 726),
 ('Chicken Burrito', 553),
 ('Chips and Guacamole', 479),
 ('Steak Burrito', 368),
 ('Canned Soft Drink', 301),
 ('Chips', 211),
 ('Steak Bowl', 211),
 ('Bottled Water', 162),
 ('Chicken Soft Tacos', 115),
 ('Chips and Fresh Tomato Salsa', 110),
 ('Chicken Salad Bowl', 110),
 ('Canned Soda', 104),
 ('Side of Chips', 101),
 ('Veggie Burrito', 95),
 ('Barbacoa Burrito', 91),
 ('Veggie Bowl', 85),
 ('Carnitas Bowl', 68),
 ('Barbacoa Bowl', 66),
 ('Carnitas Burrito', 59),
 ('Steak Soft Tacos', 55),
 ('6 Pack Soft Drink', 54),
 ('Chips and Tomatillo Red Chili Salsa', 48),
 ('Chicken Crispy Tacos', 47),
 ('Chips and Tomatillo Green Chili Salsa', 43),
 ('Carnitas Soft Tacos', 40),
 ('Steak Crispy Tacos', 35),
 ('Chips and Tomatillo-Green Chili Salsa', 31),
 ('Steak Salad Bowl', 29),
 ('Nantucket Nectar', 27),
 ('Barbacoa Soft Tacos', 25),
 ('Chips and Roasted Chili Corn Salsa', 22),
 ('Izze', 20),
 ('Chips and Tomatillo-Red Chili Salsa', 20),
 ('Veggie Salad Bowl', 18),
 ('Chips and Roasted Chili-Corn Salsa', 18),
 ('Barbacoa Crispy Tacos', 11),
 ('Barbacoa Salad Bowl', 10),
 ('Chicken Salad', 9),
 ('Veggie Soft Tacos', 7),
 ('Carnitas Crispy Tacos', 7),
 ('Burrito', 6),
 ('Carnitas Salad Bowl', 6),
 ('Veggie Salad', 6),
 ('Steak Salad', 4),
 ('Crispy Tacos', 2),
 ('Bowl', 2),
 ('Salad', 2),
 ('Chips and Mild Fresh Tomato Salsa', 1),
 ('Veggie Crispy Tacos', 1),
 ('Carnitas Salad', 1)]

In [ ]:
df['item_name'].value_counts().index[0] # 첫번째 리스트 제목을 출력

'Chicken Bowl'

In [29]:
df.columns
# 주문번호, 주문수량, 메뉴명, 추가옵션, 메뉴별 금액

# 메뉴 별 주문 수량 체크, 주문 당 평균금액
df['item_name'].value_counts().head(3)

item_name
Chicken Bowl           726
Chicken Burrito        553
Chips and Guacamole    479
Name: count, dtype: int64

In [17]:
# 주문메뉴 chicken bowl 인 quantity 합계
df[df['item_name']=='Chicken Bowl']['quantity'].sum()

np.int64(761)

In [ ]:
# 메뉴 별 주문 수량
df.groupby('item_name')['quantity'].sum().sort_values(ascending=False)

item_name
Chicken Bowl                             761
Chicken Burrito                          591
Chips and Guacamole                      506
Steak Burrito                            386
Canned Soft Drink                        351
Chips                                    230
Steak Bowl                               221
Bottled Water                            211
Chips and Fresh Tomato Salsa             130
Canned Soda                              126
Chicken Salad Bowl                       123
Chicken Soft Tacos                       120
Side of Chips                            110
Veggie Burrito                            97
Barbacoa Burrito                          91
Veggie Bowl                               87
Carnitas Bowl                             71
Barbacoa Bowl                             66
Carnitas Burrito                          60
Steak Soft Tacos                          56
6 Pack Soft Drink                         55
Chicken Crispy Tacos                      50
Chips and Tomatillo Red Chili Salsa       50
Chips and Tomatillo Green Chili Salsa     45
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        36
Chips and Tomatillo-Green Chili Salsa     33
Steak Salad Bowl                          31
Nantucket Nectar                          29
Chips and Tomatillo-Red Chili Salsa       25
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        23
Izze                                      20
Veggie Salad Bowl                         18
Chips and Roasted Chili-Corn Salsa        18
Barbacoa Crispy Tacos                     12
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Carnitas Crispy Tacos                      8
Veggie Soft Tacos                          8
Burrito                                    6
Carnitas Salad Bowl                        6
Veggie Salad                               6
Bowl                                       4
Steak Salad                                4
Salad                                      2
Crispy Tacos                               2
Carnitas Salad                             1
Chips and Mild Fresh Tomato Salsa          1
Veggie Crispy Tacos                        1
Name: quantity, dtype: int64

In [48]:
# 총 주문 수량
len(df['order_id'].unique())

1834

In [ ]:
# 주문 당 평균금액
# df['item_price'] = df['item_price'].str[1:].astype(float)
# df['item_price'] = df['item_price'].str.replace('$','').astype(float)
df.groupby('order_id')['item_price'].sum().mean() # 총합을 평균내기

np.float64(18.811428571428568)

In [ ]:
# 각 아이템 별 가격 
# 주문이 1개인 메뉴를 먼저 출력 (순차정렬)
filt = df['quantity'] == 1
df[filt].groupby('item_name')[['item_price']].min()

In [133]:
# 한 주문당 20달러 이상 주문한 order_id를 출력
filt = df.groupby('order_id')['item_price'].sum() >=20
df_s = df.groupby('order_id')['item_price'].sum()
df_s[filt]

order_id
4       21.00
18      24.90
20      36.20
21      23.36
26      20.50
        ...
1827    32.95
1829    24.25
1830    23.00
1833    23.50
1834    28.75
Name: item_price, Length: 589, dtype: float64

In [ ]:
# Chicken Salad Bowl 총 주문 수량
filt = df['item_name'] == 'Chicken Salad Bowl'
df[filt]['quantity'].sum()

np.int64(123)

In [130]:
# Chicken Bowl 2개 이상 주문한 횟수
filt = (df['item_name'] == 'Chicken Bowl') & (df['quantity'] >= 2)
df[filt]['quantity'].count()
# 총 주문 수량
filt = df['item_name'] == 'Chicken Bowl'
df[filt]['quantity'].sum()

np.int64(761)